<% layout('layouts/boilerplate') %>

<h2>My Calls</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
    <th>Name</th>
    <th>Mobile</th>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>
    <th>Feedback</th>
    <th>Follow-up</th>
    </tr>
  </thead>

  <tbody>
    <% if (calls.length === 0) { %>
      <tr>
        <td colspan="7">No calls found</td>
      </tr>
    <% } %>

    <% calls.forEach((call, index) => { %>
      <tr>
         <td><%= index + 1 %></td>
  <td><%= call.customerName %></td>
  <td><%= call.mobileNumber %></td>
  <td><%= call.callDate.toDateString() %></td>
  <td><%= call.callTime %></td>
  <td><%= call.status %></td>

  <!-- FEEDBACK -->
  <td style="max-width:200px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">

    <%= call.feedback ? call.feedback : "-" %>
  </td>

  <!-- FOLLOW UP -->
  <td>
    <%= call.followUpDate ? call.followUpDate.toDateString() : "-" %>
  </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<br />

<a href="/calls/new">Add New Call</a>
